# -*- coding: utf-8 -*-
from __future__ import unicode_literals

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'yourproject',
        'USER': 'youruser',
        'PASSWORD': 'yourpassword',
        'HOST': '',
        'PORT': '',
    }
}
